<div class="content mat-elevation-z4">
    <app-toolbar-title title="Usuário" icon="list">
        <button mat-icon-button>
            <mat-icon>shared</mat-icon>
        </button>
    </app-toolbar-title>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="tabs">
        <a mat-tab-link [routerLink]="['/users/myProfile']" routerLinkActive="active-link">
            <mat-icon>person</mat-icon>
            Profile
        </a>
        <a mat-tab-link [routerLink]="['/users/myDisciplines']" routerLinkActive="active-link">
            <mat-icon>play_lesson</mat-icon>
            Disciplines
        </a>
        <a mat-tab-link [routerLink]="['/users/myConquests']" routerLinkActive="active-link">
            <mat-icon>workspace_premium</mat-icon>
            Conquest
        </a>
    </nav>
    <div class="container">
        <mat-tab-nav-panel #tabPanel>
            <router-outlet></router-outlet>
          </mat-tab-nav-panel>
    </div>
</div>