<div class="content mat-elevation-z4">
    <app-toolbar-title title="Cursos" icon="fa-solid fa-graduation-cap">
        <button mat-icon-button>
            <mat-icon>shared</mat-icon>
        </button>
    </app-toolbar-title>

    <div class="container">
        <router-outlet></router-outlet>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa nisi
        optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem adipisci.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa nisi
        optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores officia sit repellat tenetur et ipsa
        nisi optio corrupti iusto minus. Itaque expedita tempore quisquam ducimus rerum sequi aperiam voluptatem
        adipisci.
        <br>
    </div>
</div>